220607_append_SNUBD_additional_200_samples.ipynb
xml_extract.ipynb
ECG Sample 4 Hospitals/List.txt
ECG Sample 4 Hospitals/1. ISH/CXR/00001.dcm
ECG Sample 4 Hospitals/1. ISH/CXR/00002.dcm
ECG Sample 4 Hospitals/1. ISH/CXR/00003.dcm
ECG Sample 4 Hospitals/1. ISH/ECG/2024020809131591 (사본).xml
ECG Sample 4 Hospitals/1. ISH/ECG/2024020809131591.xml
ECG Sample 4 Hospitals/1. ISH/ECG/2024020810531127.xml
ECG Sample 4 Hospitals/1. ISH/ECG/2024020811112567.xml
ECG Sample 4 Hospitals/2. BSCH/133096/202401150821492492_zpu1dv2c0hn.xml
ECG Sample 4 Hospitals/2. BSCH/133096/CXR.DCM
ECG Sample 4 Hospitals/2. BSCH/72696/202401151045356632_wfmkbyqibqd.xml
ECG Sample 4 Hospitals/2. BSCH/72696/CXR.DCM
ECG Sample 4 Hospitals/2. BSCH/74395/202401151032520382_xqsrnxjmlwp.xml
ECG Sample 4 Hospitals/2. BSCH/74395/CXR.DCM
ECG Sample 4 Hospitals/3. YSEV/CXR_9950940.dcm
ECG Sample 4 Hospitals/3. YSEV/CXR_11023702.dcm
ECG Sample 4 Hospitals/3. YSEV/CXR_30112395.dcm
ECG Sample 4 Hospitals/3. YSEV/CXR_30112419.dcm
ECG Sample 4 Hospitals/3. YSEV/EKG_9950940.pdf
ECG Sample 4 Hospitals/3. YSEV/EKG_11023702.pdf
ECG Sample 4 Hospitals/3. YSEV/EKG_30112395.pdf
ECG Sample 4 Hospitals/3. YSEV/EKG_30112419.pdf
ECG Sample 4 Hospitals/4. HY/1ab75d80-b41b-11ee-4823-00ba5d870029.xml
ECG Sample 4 Hospitals/4. HY/8번촬영실0.dcm
ECG Sample 4 Hospitals/4. HY/10번촬영실0.dcm
ECG Sample 4 Hospitals/4. HY/10000502_20181130.xml
ECG Sample 4 Hospitals/4. HY/10093775.xml
ECG Sample 4 Hospitals/4. HY/f6f51700-b41c-11ee-4823-00c68da90029.xml
